<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acompanhar Correspondências
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list >
    <ion-item *ngFor="let item of listItems">
      <ion-label>{{item.id}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-button (click)="getList()" color="success">
      <ion-icon name="refresh"></ion-icon>
    </ion-button>
  </ion-fab>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
